// Custom styles.

body{
  background: #000 url(/game/images/background.jpg) center center fixed no-repeat;
  -moz-background-size: cover;
  background-size: cover;
  font-size: 15px;
  color: #ffffff;
}

.content-wrap {
    background: rgba(0,0,0,0.35);
}

a {
    color: #ffffff;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.sidebar-nav .sidebar-nav-active {
    color: #fff;
    border-bottom-color: #fff;
}

.sidebar-nav .sidebar-nav-active:hover {
    color: #fff;
}

.sidebar-nav li:hover {
    color: #fff;
}

.posts-expand .post-title-link {
    color: #fff;
    border-bottom: none;
}

.posts-expand .post-meta {
    color: #fff;
    font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
    font-size: 12px;
}

.post-toc .nav .active-current > a {
    color: #fff;
}

.post-toc .nav .active-current > a:hover {
    color: #fff;
}

.post-toc .nav .active > a {
    color: #fff;
    border-bottom-color: #fff;
}

.header-inner {
    background: #fff0;
}

.site-meta {
    color: #fff0;
    background: #fff0;
}

.menu-item-active a {
    background: #fff0;
    border-bottom-color: #fff;
}

.sidebar-inner {
    color: #555;
    background: #fff0;
}

.menu .menu-item a:hover, .menu-item-active a {
    background: #fff0;
    border-bottom-color: #fff0;
}

a:hover {
    color: #fff;
    border-bottom-color: #2220;
}

.btn {
    font-size: 14px;
    color: #fff;
    background: #fff0;
    border: 2px solid #5550;
}

.btn:hover {
    border-color: #222;
    color: #fff;
    background: #2220;
    border: 2px solid #5550;
}

.footer {
    font-size: 14px;
    color: #fff;
}

.site-author-name {
    color: #fff;
    font-weight: 600;
}

.site-description {
    font-size: 13px;
    color: #fff;
}

site-state-item-count {
    color: #fff;
    font-size: 16px;
}

.site-state-item-name {
    font-size: 13px;
    color: #fff;
}

.site-state-item-count {
    color: #fff;
    font-weight: 600;
    font-size: 16px;
}

.post-nav-item a:hover {
    color: #fff;
}

.post-nav-item a {
    line-height: 25px;
    font-size: 14px;
    color: #fff;
    border-bottom: none;
}

.affix-top{
    background: rgba(0,0,0,0);
}

.affix{
    background: rgba(0,0,0,0);
}

.velocity-animating{
    background: rgba(0,0,0,0);
}

.sidebar-inner{
    background: rgba(0,0,0,0);
}

.sidebar {
    position: static;
    margin-top: 300px;
    width: 240px;
    background: #fff0;
}

.sidebar-nav li {
    border-bottom: 1px solid transparent;
    font-size: 14px;
    color: #fff;
}

.post-toc ol a:hover {
    color: #fff;
    border-bottom-color: #fff;
}

.post-toc ol a {
    color: #bfbfbf;
    border-bottom-color: #fff0;
}

.feed-link a:hover {
    background: none;
    color: #fff;
}

.feed-link a {
    color: #fff;
}

.fa-feed:before, .fa-rss:before {
    color: #fff;
}

.links-of-author-item a {
    color: #fff;
}

.links-of-author-item a:hover {
    color: #fff;
    background: #fff0;
}

.posts-collapse .post-title a {
    color: #fff;
}

$body-bg-color                = #fff

.post-copyright {
    border-left: 3px solid #ff1700;
    background-color: #0404044f;
    list-style: none;
}

.local-search-popup {
    background: rgba(0,0,0,0.4);
}

.local-search-popup .local-search-input-wrapper input {
    background: rgba(0,0,0,0);
}

.local-search-popup .popup-btn-close {
    border-left: none;
}

.local-search-popup .local-search-header {
    background: rgba(0,0,0,0);;
}

.local-search-popup .search-icon, .local-search-popup .popup-btn-close {
    color: #fff;
}

.button, input, optgroup, select, textarea {
    color: #fff;
}

.tag-cloud-tags {
    text-align: center;
}

.posts-expand .post-body img {
    box-sizing: border-box;
    margin: auto;
    padding: 3px;
    border: 1px solid #ddd0;
}

b, strong {
    font-weight: bold;
    color: #FFA500;
}

.posts-expand .post-title-link::before{
    background-color: #fff;
}
